@import "variables";
@import "base";
@import "mediaqueries";
@import "fonts";
@import "reset";
@import "keyframes";
@import "layout";
@import "mixin";
@import "silent_class";
@import "./pages/index";



html {}
.no_scroll { overflow: hidden; }
.hide { display: none !important; }

body {
    @include scroll;
    @include font(100%);
    @include no-margins;
    @include no-border;
    @include bc($c1, $c2);
}

.container_logo {
    @include wh(100vw, 100vh);
    @include center-flex-column;

    .logo_sqhtml {
        @include ht;
        @include position;
        @include wh(270px, 99px);
        display: block;
    }

    @debug bp((value: 20, initial-base: 1920));
    .subtitle {
        @include font(
            clamp(szrem(24), 2.43vw, szrem(35)),
            $f1,
            bold
        );
        margin-top: 15px;
        color: $c3;
    }

    .text {
        @include font(
            clamp(szrem(16), 1.38vw, szrem(20)),
        );
        margin-top: 5px;
        color: $c3;

        .poppins {
            font-style: poppins;
        }
    }
}
