@import "variables";
@import "base";
@import "mediaqueries";
@import "fonts";
@import "reset";
@import "keyframes";
@import "layout";
@import "mixin";
@import "silent_class";
@import "./pages/index";



html {}
.no_scroll { overflow: hidden; }
.hide { display: none !important; }

body {
    @include font(100%);
    @include no-margins;
    @include no-border;
    
    color: $c4;
}