//-----------------------------------
// Variables
//-----------------------------------
// Colors
$c0: transparent;
$c1: #FFF;
$c2: #000;

$c3: #349CE5;

// Font
$f1: "Roboto", "sans-serif";

// Path
$i1: "../../img/svg/";

// Breakpoints
$b1: 1920; // Tamaño diseño desktop
$b2: 1440;
$b3: 1366;
$b4: 1280;
$b5: 1024;
$b6: 980; // BRP para cambio a movil tablet
$b7: 768;
$b8: 640;
$b9: 480; //Tamaño de diseño movil
$b10: 320;

// Time Animation
$t1: 100ms;
$t2: 200ms;
$t3: 300ms;
$t4: 400ms;
$t5: 500ms;
$t6: 600ms;
$t7: 700ms;
$t8: 800ms;
$t9: 900ms;

//-----------------------------------
//End Variables
//-----------------------------------
